@charset "utf-8";
/* --------------------------------------------
	After Clears
----------------------------------------------- */

.clearfix:after, .cols:after, #header:after, #header .inner:after, #content:after, #nav_main ul ul:after, .order_summary li:after, #bab:after, .bab_item:after, #totals:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
/* --------------------------------------------
	Reset
----------------------------------------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, strong, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}
.reset, .reset:not(.lazy) ul, .lazy > ul, .reset:not(.lazy) ol, .lazy > ol, .reset:not(.lazy) li, .lazy > li, .rc ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}
/* --------------------------------------------
	Consistent Margins
----------------------------------------------- */

blockquote, .cell, .centre_object, cite, .cols, .content_area, dl, fieldset, .grid, hr, iframe, ol, p, .std_margin, table, ul, .rc {
    margin-bottom: 14px;
}
.half_margin {
    margin-bottom: 7px;
}
.lg_margin, .section, .divider, .tiles.single_col > li {
    margin-bottom: 40px;
}
.lg_padding_l {
    padding-left: 22px;
}
.no_margin_b {
    margin-bottom: 0;
}
/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

input[type="hidden"], .js_none, .no_col_2 #col_2, .reset:not(.lazy) li:before, .lazy > li:before, .rc li:before {
    display: none;
}
/* --------------------------------------------
	Hiddens
----------------------------------------------- */

.hidden, #nav_main div {
    height: 1px !important;
    min-height: 0 !important;
    left: -999em !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
}
/* --------------------------------------------
	Generic Classes
----------------------------------------------- */

.align_centre {
    text-align: center !important;
}
.align_right {
    text-align: right !important;
}
.block {
    display: block !important;
}
.cols {
    min-height: 0;
}
.col:first-child, .col.swap {
    float: lehft;
}
.col, .col.swap:first-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 50%;
}
.col.sub {
    width: 200px;
}
.col.main {
    width: 710px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.inline_block {
    display: inline-block !important;
}
.invisible {
    visibility: hidden !important;
}
/* --------------------------------------------
	Constants
----------------------------------------------- */


a span {
    cursor: pointer;
}
img {
    -moz-force-broken-image-icon: 1;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    vertical-align: bottom;
}
a img {
    border: 0;
}
.normalcase {
    text-transform: none !important;
}
.menu li > a, .menu li > a span {
    display: inline-block;
}
.menu li > a, .menu li > a span {
    display: block;
}
.menu li > a:link, .menu li > a:visited {
    text-decoration: none;
}
.menu.hover li > a:hover, .menu.hover li > a:focus {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
/* --------------------------------------------
	Root Defaults
----------------------------------------------- */

body {
    background: #fff url(../images/html.jpg) repeat;
    color: #1E1E1E;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    min-height: 100%;
}
/* --------------------------------------------
	Simple Customisations
----------------------------------------------- */
/*      css for statuscol          */
.u_image{
  float: left;
  margin-left:10px;
  margin-top: 5px;
}
.u_name{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 30px;
}
.u_time{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
#u_info{
  border: 1px solid #73AD21;
  height: 65px;
}
#u_content{

}
.u_textorphoto{
  font-size: 20px;
  border: 1px solid #73AD21;
  height: auto;
}
.u_commentbar{
  border: 1px solid #73AD21;
  height: auto;
}
#like{
  margin-left: 100px;
}
#comment{
  margin-left: 100px;
}
#share{
  margin-left: 100px;
}
.u_c_image{
  float: left;
  margin-top: 3px;
  margin-left: 3px;
}
.u_c_name{
  float: left;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 16px;
}
.u_c_comment{
  float: left;
  margin-top: 15px;
  margin-left: 25px;
}
.u_c_date{
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}
.u_response{
  margin-top: 39px;
  margin-left: 10px;
}
/*---------------------------------*/
a:link {
    color: white;
    text-decoration: underline;
}
a:visited {
    color: #666;
    text-decoration: underline;
}
.feature {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    text-decoration: none !important;
}
.feature:before, .feature:after {
    background: #418eac;
    content: '';
    display: inline-block;
    height: 1px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    width: 9px;
}
.feature:after {
    margin-top: -2px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    color: #312e1d;
    font-weight: bold;
    line-height: normal;
}
h1, h2, .h1, .h2 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 34px;
    text-shadow: 0 2px 3px rgba(126,117,80,.35);
}
h1, .h1 {
    margin: 19px 0 17px;
}
h2, .h2 {
    font-size: 26px;
}
h1.inline_block + h2, .h1.inline_block + .h2 {
    margin-left: 13px;
}
h2.inline_block + .cat_num, .h2.inline_block + .cat_num {
    display: inline-block;
    margin-left: 25px;
}
h3, .h3 {
    font-size: 18px;
}
h3.shadow, h4.shadow, h5.shadow, h6.shadow, .h3.shadow, .h4.shadow {
    margin-bottom: 10px;
    text-shadow: 0 2px 3px rgba(126,117,80,.35);
}
h4, .h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.inconsistent_mt {
    margin-top: 3px;
}
.ml30 {
    margin-left: 30px;
}
.pull_out {
    margin-left: -10px;
    margin-right: -10px;
    width: 980px;
}
.pull_out.padding {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.small {
    font-size: 14px;
}
.w210 {
    width: 210px;
}
/* --------------------------------------------
	Lists
----------------------------------------------- */

ol, ul {
    list-style: none;
    margin-left: 40px;
}
ol.no_ml, ul.no_ml {
    margin-left: 21px;
}
li > ol, li > ul {
    margin-top: 10px;
}
li {
    margin-bottom: 0px;
    position: relative;
    list-style-type: none;
}
#frirequestlist{
  border: 1px solid #73AD21;
  height: 60px;
}
#photo{
  position: relative;
  height: 35px;
  width:  50px;
  padding-top: 4px;
}
#name{
  position: relative;
  float: right;
  padding-top: 10px;
  padding-right: 15px;
  width: 80px;
}
#friendbutton{
  position: relative;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
#ignorebutton{
  position: relative;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
#fri{
  background:green;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
}
#ign{
  background:red;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
}
ul > li:before {
    background: #7e7450;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 5px;
    left: -18px;
    position: absolute;
    text-align: right;
    top: 8px;
    width: 5px;
}
/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset {
    border: 0;
    min-height: 0;
}
input[type="search"] {
    -webkit-appearance: none;
}
a.btn, input[type="submit"], input.text, label, .label, p.legend, select, textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    line-height: normal;
    vertical-align: top;
    width: 100%;
}
.f_row, .required {
    margin-bottom: 10px;
}
.f_row label, .f_row .label {
    margin-top: 5px;
}
.f_row label, .f_row .label, p.legend {
    display: inline-block;
    margin-right: 3%;
    position: relative;
    width: 24%;
}
.f_row input.text, .f_row textarea, .f_row select, .rc.legend ul, .f_row .no_wrap {
    display: inline-block;
    width: 73%;
}
.f_row label + input.text, .f_row label + textarea, .f_row label + select {
    margin-left: -5px;
    margin-left: -.3125rem;
}
.f_row input.small {
    width: 70px;
}
label, .label, p.legend {
    margin-bottom: 5px;
}
input.text, textarea, select {
    margin: 0;
}
input.text, textarea, select {
    background: #f7f5f2;
    border: 1px solid #92c100;
    color: #7e7550;
    padding: 7px 5px 5px 5px;
}
input.white, textarea.white, select.white {
    background: #fff;
}
input[type="submit"], input.text, textarea, select {
    font-size: 14px;
}
select {
    -webkit-appearance: menulist;
}
label.auto, select.auto {
    width: auto !important;
}
.rc input {
    margin: 2px 0 0 2px;
    margin: .125rem 0 0 .125rem;
    position: absolute;
}
.rc label {
    font-weight: normal;
    padding-left: 23px;
    width: auto;
}
/*search from*/
.searchform input, .searchform button {
	float: left
}
.searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 216px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 4px #0d76be inset;
		-moz-box-shadow:0 0 4px #0d76be inset;
		-webkit-box-shadow:0 0 4px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	font-style: italic;
  	line-height: 15px
	}

	.searchform input:-moz-placeholder {
	  font-style: italic;
  	line-height: 15px
	}

.searchform button {
	background: rgb(52,173,236);
	background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
	background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 10px;
	width:106px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
	.searchform button:hover {
		opacity:.9;
	}
/*----------------*/
a.btn, input[type="submit"] {
    -webkit-appearance: none;
    background: #92c100;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    padding: 7px 16px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
a.checkout, input.checkout {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px !important;
}
.btn.checkout, input[type="submit"].checkout, .btn.alt, input[type="submit"].alt {
    background: #ffbf00;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZlNTk5IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZiZjAwIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
    background: -moz-linear-gradient(top, #ffe599 0%, #ffbf00 100%);
    background: -webkit-linear-gradient(top, #ffe599 0%, #ffbf00 100%);
    background: linear-gradient(to bottom, #ffe599 0%, #ffbf00 100%);
    -pie-background: linear-gradient(top, #ffe599 0%, #ffbf00 100%);
    -webkit-border-radius: 11px;
    border-radius: 11px;
    color: #312e1d;
    padding-left: 22px;
    padding-right: 22px;
    text-shadow: 0 1px 2px #fff;
}
.btn.alt, input[type="submit"].alt {
    background: #3f90af;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTliZGUyIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjM2Y5MGFmIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
    background: -moz-linear-gradient(top, #59bde2 0%, #3f90af 100%);
    background: -webkit-linear-gradient(top, #59bde2 0%, #3f90af 100%);
    background: linear-gradient(to bottom, #59bde2 0%, #3f90af 100%);
    -pie-background: linear-gradient(top, #59bde2 0%, #3f90af 100%);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
}
/* --------------------------------------------
	Feature Slider
----------------------------------------------- */

#feature {
    position: relative;
}
/* --------------------------------------------
	Site Specific
----------------------------------------------- */

#site {
    background: #fff;
    color: #7e7450;
    margin: 0 auto;
    padding: 10px;
    width: 960px;
}
#logo {
    margin: 5px 5px 10px;
    float: left;
}
#header{
    background-color: lightblue;
    min-height: 40px;
}
#header .inner {
    float: right;
    font-size: 20px;
    min-height: 40px;
    padding: 7px 0 14px;
    position: relative;
}
#user{
    font-size: 40px;
}
#quick_links {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 14px;
    color: white;
}
#quick_links li {
    display: inline-block;
}
#quick_links li:after {
    color: white;
    content: '|';
}
#quick_links li:last-child:after {
    display: none;
}
#quick_links a {
    display: inline-block;
    padding: 6px 12px 6px 8px;
    text-decoration: underline;
}
#quick_links a:hover, #quick_links a:focus {
    text-decoration: none;
}
#quick_search {
    float: right;
    margin-bottom: 24px;
    margin-left: 10px;
    font-size: 20px;
    padding: 20px;
}
#nav_main {
    border: solid #dde9b9;
    border-width: 1px 0;
    font-size: 16px;
    clear: both;
}
#nav_main > ul {
    display: table;
    width: 100%;
}
#nav_main a {
    color: #3f90af;
    text-decoration: none;
}
#nav_main > ul > li > a {
    border: 1px solid;
    border-color: #c4d886 transparent;
    padding: 1px 2px;
    text-align: center;
}
#nav_main > ul > li > a span {
    padding: 8px 0;
}
#nav_main ul ul:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
#nav_main div {
    height: 1px !important;
    min-height: 0 !important;
    left: -999em !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
}
#nav_main a:hover, #nav_main a:focus, #nav_main li .current > a {
    color: #79922d;
}
#nav_main .current > a {
    color: #fff;
    font-weight: bold;
}
#nav_main > ul > .current > a span {
    background: #3f90af;
}
#nav_main div {
    background: #f9f9f9;
    border: 2px solid #b0cb5e;
    margin-top: -1px;
    padding-bottom: 5px;
    white-space: nowrap;
    z-index: 31;
}
html:not(.jquery) #nav_main > ul > li:hover div, #nav_main > ul > .open div {
    height: auto !important;
    left: auto !important;
    width: auto !important;
}
#nav_main .single_column {
    padding-top: 5px;
}
#nav_main > ul > li > div:not(.single_column) > ul > li {
    display: inline-block;
    margin-left: -5px;
    margin-left: -.3125rem;
    vertical-align: top;
}
#nav_main > ul > li > div:not(.single_column) > ul > li:first-child {
    margin-left: 0;
}
#nav_main ul ul, #nav_main ul ul li li {
    display: block;
}
#nav_main ul div:not(.single_column) > ul > li > a {
    border-bottom: 1px solid #d1e1a2;
    font-weight: bold;
    padding: 10px 30px 5px 10px;
    padding: .625rem 1.875rem .3125rem .625rem;
}
#nav_main ul div:not(.single_column) > ul > li:last-child > a {
    padding-right: 10px;
}
#nav_main ul ul ul a {
    padding: 5px 45px 5px 25px;
    padding: .3125rem 2.8125rem .3125rem 1.5625rem;
}
#nav_main ul ul ul:last-child a {
    padding-right: 25px;
}
#nav_main .single_column a {
    padding: 5px 11px;
    padding: .3125rem .6875rem;
}
#nav_main ul ul ul a:hover, #nav_main ul ul ul a:focus, #nav_main .single_column a:hover, #nav_main .single_column a:focus {
    text-decoration: underline;
}
/*   add text add photo add blog bar*/
#addtext{
    font-size: 20px;
    color: white;
}
#addphoto{
    font-size: 20px;
    color: white;
}
#addblog{
    font-size: 20px;
    color: white;
}
/*-------------------------------------------------------------------------------*/
#content {
    font-size: 16px;
    line-height: 1.4;
    padding: 7px 0 15px;
}
#col_1 {
    float: left;
    width: 720px;
}
#col_2 {
    float: right;
    margin-top: 27px;
    width: 210px;
}
.no_col_2 #col_1 {
    width: 100%;
}
#contentframe{
    position: static;
    height: 1000px;
}
#statuscol{
    position: relative;
    float: right;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 990px;
    width: 750px;
    background-color: white;
}
#friendmayknowcol{
    position: fixed;
    border: 3px solid white;
    /*float: right;*/
    padding-left: 0px;
    width: 24%;

}
#footer {
    font-size: 14px;
    padding-bottom: 20px;
}
.row {
    border-bottom: 1px solid #92c100;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.row:first-child {
    border-top: 1px solid #92c100;
    padding-top: 15px;
}
