@charset "utf-8";
#friendmayknowcol{
  position: relative;;

    border: 3px solid white;

    /*float: right;*/

    padding-left: 0px;

}

#output{
  display: block;
  position: absolute;
  background-color: white;
  z-index: 1000;
  float: right;
  min-width: 160px;

  margin: 2px 0 0; // override default ul
  list-style: none;
  text-align: left;
  .box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

}

#friendbutton{

  position: relative;

  float: right;

  padding-top: 10px;

  padding-right: 10px;

}

#ignorebutton{

  position: relative;

  float: right;

  padding-top: 10px;

  padding-right: 10px;

}

#fri{

  background:green;

  color: white;

  outline: none;

  border: none;

  border-radius: 5px;

  display: inline-block;

}

#ign{

  background:red;

  color: white;

  outline: none;

  border: none;

  border-radius: 5px;

  display: inline-block;

}

#statuscol{

    position: relative;

}
.u_image{

display: inline-block;

}

.u_name{

  vertical-align: middle;
  display: inline-block;
}

.u_time{

vertical-align: middle;
display: inline-block;

}

#u_status{
  border: 2px solid;
  border-radius: 6px;
  border-color: #ccc;
  margin-top: 0px;
  margin-bottom: 40px;
}

#u_info{


  margin: 6px;


}

#u_commentlist{
  display: inline-block;
  vertical-align: top;
}

.u_textorphoto{

  font-size: 20px;

background-color:inherit;;

  height: auto;

  margin-top: 10px;

}

.u_commentbar{


  height: auto;

}





.u_c_name{

  font-size: 16px;
  display: inline-block;

}

.u_c_comment{
  display: inline-block;
}


.u_c_date{

  float: right;


}


.nav-tabs{
  background-color: #4267b2;
}

.nav-tabs a {
  color: white;
}

.nav-tabs li a:hover{
  background-color: #365899;
}

#statusbar {
  margin-bottom: 50px;
}

#searchbox{
  vertical-align: middle;
}

.buttons-in-header{
  margin-top: 5px;
}

#timeinstatus{
  vertical-align: middle;
}
